footer {
  background-color: #003B57;
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  padding: min(3rem, 4%) min(4rem, 8%);
  
}

footer p {
  font-size: 14px;
  margin: 0;
  margin-bottom: 6px;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer li {
  margin-bottom: 5px;
  
}
footer li:hover {
  color: #FFD254;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
  
  margin-bottom: 50px;
}

@media (max-width: 780px) {
  .footer-grid {
    grid-template-columns: 1fr;
    justify-self: center;
    text-align: center;
  }

  .container-icon-text {
    justify-content: center;
  }
}

.footer-section {
  font-size: clamp(0.5rem, 1rem, 2rem);
}
.footer-section h3, .footer-section-browse h3 {
  color: #FFD254;
}
.footer-section-browse {
  justify-self: center;
}

.icon-text {
  display: flex;
  align-items: center;
}

.container-icon-text {
  display: flex;
}

.footer-icons {
  margin-right: 5px;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright p {
  font-size: 0.7rem;
}